@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Nunito:wght@200;400;700&display=swap');

:root {
  --cv-theme: rgb(228, 228, 0);
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

input,
textarea,
button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

input {
  background-color: #222222;
}

textarea {
  background-color: #222222;
  resize: none;
  height: 100px;
}

button {
  cursor: pointer;
  transition: all 200ms;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 3px #fff7;

}

.header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 700;
  padding: 45px 0;
  background-color: #222;
}

.education,
.experience,
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-info>p {
  margin: 15px 10px 10px 10px;
}

.cv-form,
.cv-preview {
  background-color: #121212;
  margin: 40px auto;
  width: min(570px, 90%);
  padding: 25px;
  font-family: 'Nunito', sans-serif;
  aspect-ratio: 1/1.414;
}

.cv-form {
  border: 1px solid white;
  border-radius: 5px;
}

.cv-preview {
  border: 1px solid red;
  border-radius: 3px;
}

.experiences,
.edu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.form-para {
  margin: 35px 10px 0 10px;
  font-size: 22px;
  font-weight: 700;
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0 0 0;
}

.add-btn,
.del-btn {
  background-color: #333;
}


.show-btn {
  background-color: #03ffff;
  color: black;
}

.load-btn {
  background-color: #0047d6;
}

.reset-btn {
  background-color: #d80000;
}

.info-preview {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 40px 0;
  padding: 55px 10px 25px 10px;
}

.info-name {
  font-family: 'Montserrat', sans-serif;
  color: var(--cv-theme);
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 8px;
  font-weight: 700;
}

.info-title {
  font-size: 22px;
}

.info-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
}

.icon {
  width: 12px;
  fill: white;
  margin: 0 10px;
}

.about-div {
  border-top: 3px solid var(--cv-theme);
  grid-column: 1/3;
  padding: 20px 0;
}

.exp-item,
.edu-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.exps-preview,
.edu-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px 35px 10px;
}

.edu-place,
.exp-place {
  font-weight: 200;
  color: #ddd;
}

.preview-para {
  color: var(--cv-theme);
  margin-bottom: -10px;
  font-size: 22px;
  font-weight: 700;
}