@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

input,
textarea,
button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

input {
  background-color: #222222;
}

textarea {
  background-color: #222222;
  resize: none;
  height: 100px;
}


button {
  cursor: pointer;
  transition: all 200ms;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 3px #fff7;

}

.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.education,
.experience,
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-info>p {
  margin: 15px 10px 10px 10px;
}

.cv-form,
.cv-preview {
  background-color: #121212;
  margin: 30px auto;
  border: 1px solid red;
  width: min(750px, 90%);
  padding: 25px;
  font-family: 'Nunito', sans-serif;
}

.experiences,
.edu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.form-para {
  margin: 35px 10px 0 10px;
  font-size: 22px;
  font-weight: 700;
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0 0 0;
}

.add-btn,
.del-btn {
  background-color: #333;
}


.show-btn {
  background-color: #03ffff;
  color: black;
}

.load-btn {
  background-color: #0047d6;
}

.reset-btn {
  background-color: #d80000;
}

.info-preview {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.info-preview>div,
.exp-item>div,
.edu-item>div {
  border: 1px solid yellow
}

.about-div {
  grid-column: 1/3;
  padding: 20px;
}

.exp-item,
.edu-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
}